<a href="https://colab.research.google.com/github/dbittencourtbelcavello-sys/INTMI_2025/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
numeros = [int(input("Digite um número inteiro: ")) for _ in range(15)]
lista_sem_repetidos = []

for n in numeros:
    if n not in lista_sem_repetidos:
        lista_sem_repetidos.append(n)

print("Lista sem números repetidos:", lista_sem_repetidos)

104

Digite um número inteiro: 4
Digite um número inteiro: 3
Digite um número inteiro: 2
Digite um número inteiro: 3
Digite um número inteiro: 45
Digite um número inteiro: 23
Digite um número inteiro: 34
Digite um número inteiro: 47
Digite um número inteiro: 88
Digite um número inteiro: 999
Digite um número inteiro: 564
Digite um número inteiro: 123
Digite um número inteiro: 432
Digite um número inteiro: 567
Digite um número inteiro: 453
Lista sem números repetidos: [4, 3, 2, 45, 23, 34, 47, 88, 999, 564, 123, 432, 567, 453]

In [4]:
nomes = [input("Digite um nome: ") for _ in range(10)]
idades = [int(input("Digite a idade: ")) for _ in range(10)]
mais_velho = nomes[idades.index(max(idades))]
print("A pessoa mais velha é:", mais_velho)

Digite um nome: daniel
Digite um nome: maria
Digite um nome: joao
Digite um nome: pedro
Digite um nome: ravel
Digite um nome: lucas
Digite um nome: fabio
Digite um nome: marcos
Digite um nome: vitor
Digite um nome: nuno
Digite a idade: 12
Digite a idade: 45
Digite a idade: 65
Digite a idade: 11
Digite a idade: 10
Digite a idade: 9
Digite a idade: 97
Digite a idade: 100
Digite a idade: 28
Digite a idade: 17
A pessoa mais velha é: marcos

In [5]:
numeros = [int(input("Digite um número: ")) for _ in range(10)]
resultado = [(n / 3 if n % 2 != 0 else n / 2) for n in numeros]
print("Lista transformada:", resultado)3

Digite um número: 4
Digite um número: 3
Digite um número: 2
Digite um número: 1
Digite um número: 23
Digite um número: 45
Digite um número: 99
Digite um número: 2
Digite um número: 1
Digite um número: 45
Lista transformada: [2.0, 1.0, 1.0, 0.3333333333333333, 7.666666666666667, 15.0, 33.0, 1.0, 0.3333333333333333, 15.0]

In [6]:
frase = input("Digite uma frase: ").split()
vogais = "aeiouAEIOU"
lista = [palavra for palavra in frase if palavra[0] in vogais]
print("Palavras que começam com vogal:", lista)

Digite uma frase: O professor é um professor
Palavras que começam com vogal: ['O', 'um']

In [7]:
numeros = [int(input("Digite um número inteiro: ")) for _ in range(10)]
def primo(n):
    if n < 2: return False
    return all(n % i for i in range(2, int(n**0.5) + 1))

primos = [n for n in numeros if primo(n)]
print("Números primos:", primos)

Digite um número inteiro: 17
Digite um número inteiro: 34
Digite um número inteiro: 10
Digite um número inteiro: 9
Digite um número inteiro: 76
Digite um número inteiro: 34
Digite um número inteiro: 21
Digite um número inteiro: 22
Digite um número inteiro: 24
Digite um número inteiro: 65
Números primos: [17]

In [9]:
lista = [input("Digite um elemento: ") for _ in range(8)]
print("É palíndroma?" , lista == lista[::-1])
ma

Digite um elemento: água
Digite um elemento: fogo
Digite um elemento: ovo
Digite um elemento: corre
Digite um elemento: mim
Digite um elemento: asa
Digite um elemento: casa
Digite um elemento: pai
É palíndroma? False

In [11]:
import random
lista1 = [random.randint(1,100) for _ in range(10)]
lista2 = [random.randint(1,100) for _ in range(10)]
interseccao = list(set(lista1) & set(lista2))
print("Interseção:", interseccao)

Interseção: [26, 19, 7]

In [12]:
import random
mega = random.sample(range(1,61), 6)
print("Números sorteados:", mega)

Números sorteados: [17, 54, 59, 20, 45, 11]

In [13]:
numeros = [int(input("Digite um número: ")) for _ in range(10)]
soma = 0
nova_lista = []
for n in numeros:
    soma += n
    nova_lista.append(soma)
print("Lista com somatórios acumulados:", nova_lista)
7

Digite um número: 12
Digite um número: 34
Digite um número: 55
Digite um número: 33
Digite um número: 44
Digite um número: 66
Digite um número: 7
Digite um número: 8
Digite um número: 87
Digite um número: 12
Lista com somatórios acumulados: [12, 46, 101, 134, 178, 244, 251, 259, 346, 358]

In [14]:
nomes = [input("Digite um nome: ") for _ in range(10)]
resultado = [n for n in nomes if len(n) <= 10]
print("Nomes com até 10 caracteres:", resultado)

Digite um nome: Daniel
Digite um nome: Marcos
Digite um nome: Mariany
Digite um nome: monica
Digite um nome: matusalem
Digite um nome: merlim
Digite um nome: adalberto
Digite um nome: adilson
Digite um nome: paulo
Digite um nome: paula
Nomes com até 10 caracteres: ['Daniel', 'Marcos', 'Mariany', 'monica', 'matusalem', 'merlim', 'adalberto', 'adilson', 'paulo', 'paula']

In [15]:
matriz = [[int(input(f"Digite o valor [{i}][{j}]: ")) for j in range(4)] for i in range(4)]
soma_diag_sec = sum(matriz[i][3-i] for i in range(4))
print("Soma da diagonal secundária:", soma_diag_sec)]4

Digite o valor [0][0]: 190
Digite o valor [0][1]: 34
Digite o valor [0][2]: 12
Digite o valor [0][3]: 90
Digite o valor [1][0]: 08
Digite o valor [1][1]: 11
Digite o valor [1][2]: 12
Digite o valor [1][3]: 23
Digite o valor [2][0]: 42
Digite o valor [2][1]: 45
Digite o valor [2][2]: 564
Digite o valor [2][3]: 76
Digite o valor [3][0]: 30
Digite o valor [3][1]: 45
Digite o valor [3][2]: 21
Digite o valor [3][3]: 23
Soma da diagonal secundária: 177

In [16]:
import random
matriz = [[random.randint(1,99) for _ in range(5)] for _ in range(5)]
medias = [sum(linha)/5 for linha in matriz]
print("Médias das linhas:", medias)

Médias das linhas: [57.8, 44.0, 47.2, 44.2, 45.8]

In [18]:
matriz = [[int(input(f"Valor [{i}][{j}]: ")) for j in range(3)] for i in range(3)]
identidade = all(matriz[i][j] == (1 if i==j else 0) for i in range(3) for j in range(3))
print("É matriz identidade?", identidade)

55

Valor [0][0]: 0
Valor [0][1]: 1
Valor [0][2]: 2
Valor [1][0]: 3
Valor [1][1]: 45
Valor [1][2]: 32
Valor [2][0]: 56
Valor [2][1]: 75
Valor [2][2]: 34
É matriz identidade? False

5

In [19]:
matriz = [[int(input(f"Valor [{i}][{j}]: ")) for j in range(3)] for i in range(3)]
transposta = [[matriz[j][i] for j in range(3)] for i in range(3)]
print("É simétrica?", matriz == transposta)

Valor [0][0]: 3
Valor [0][1]: 4
Valor [0][2]: 12
Valor [1][0]: 34
Valor [1][1]: 5
Valor [1][2]: 88
Valor [2][0]: 94
Valor [2][1]: 38
Valor [2][2]: 37
É simétrica? False

In [20]:
matriz = [[i * j for j in range(3)] for i in range(5)]
print("Matriz 5x3:")
for linha in matriz:
    print(linha)

Matriz 5x3:
[0, 0, 0]
[0, 1, 2]
[0, 2, 4]
[0, 3, 6]
[0, 4, 8]

In [21]:
matriz = [[int(input(f"Valor [{i}][{j}]: ")) for j in range(4)] for i in range(4)]
menores = [min(coluna) for coluna in zip(*matriz)]
print("Menor valor de cada coluna:", menores)

Valor [0][0]: 09
Valor [0][1]: 278
Valor [0][2]: 8872
Valor [0][3]: 27
Valor [1][0]: 334
Valor [1][1]: 13
Valor [1][2]: 25
Valor [1][3]: 27
Valor [2][0]: 276
Valor [2][1]: 23
Valor [2][2]: 12
Valor [2][3]: 089
Valor [3][0]: 7265
Valor [3][1]: 62
Valor [3][2]: 27
Valor [3][3]: 72
Menor valor de cada coluna: [9, 13, 12, 27]

In [22]:
m = [[float(input(f"Valor [{i}][{j}]: ")) for j in range(3)] for i in range(3)]
det = (
    m[0][0]*(m[1][1]*m[2][2] - m[1][2]*m[2][1])
    - m[0][1]*(m[1][0]*m[2][2] - m[1][2]*m[2][0])
    + m[0][2]*(m[1][0]*m[2][1] - m[1][1]*m[2][0])
)
print("Determinante:", det)3

Valor [0][0]: 1
Valor [0][1]: 01
Valor [0][2]: 2
Valor [1][0]: 3
Valor [1][1]: 4
Valor [1][2]: 5
Valor [2][0]: 6
Valor [2][1]: 745
Valor [2][2]: 56
Determinante: 783.0

In [23]:
A = [[int(input(f"Matriz A [{i}][{j}]: ")) for j in range(3)] for i in range(3)]
B = [[int(input(f"Matriz B [{i}][{j}]: ")) for j in range(3)] for i in range(3)]
soma = [[A[i][j] + B[i][j] for j in range(3)] for i in range(3)]
diff = [[A[i][j] - B[i][j] for j in range(3)] for i in range(3)]
print("Matriz soma:", soma)
print("Matriz diferença:", diff)

Matriz A [0][0]: 08
Matriz A [0][1]: 1
Matriz A [0][2]: 2
Matriz A [1][0]: 3
Matriz A [1][1]: 4
Matriz A [1][2]: 434
Matriz A [2][0]: 455
Matriz A [2][1]: 35
Matriz A [2][2]: 234
Matriz B [0][0]: 23445
Matriz B [0][1]: 12
Matriz B [0][2]: 11
Matriz B [1][0]: 1112
Matriz B [1][1]: 04
Matriz B [1][2]: 236
Matriz B [2][0]: 72
Matriz B [2][1]: 91
Matriz B [2][2]: 98
Matriz soma: [[23453, 13, 13], [1115, 8, 670], [527, 126, 332]]
Matriz diferença: [[-23437, -11, -9], [-1109, 0, 198], [383, -56, 136]]

In [24]:
A = {input("Digite um elemento para A: ") for _ in range(10)}
B = {input("Digite um elemento para B: ") for _ in range(10)}
print("Interseção:", A & B)
print("União:", A | B)
print("A - B:", A - B)
print("B - A:", B - A)

Digite um elemento para A: agua]
Digite um elemento para A: fogo
Digite um elemento para A: morte
Digite um elemento para A: mario
Digite um elemento para A: fogo
Digite um elemento para A: navio
Digite um elemento para A: muitas
Digite um elemento para A: meus
Digite um elemento para A: medusa
Digite um elemento para A: bolas
Digite um elemento para B: vaiam
Digite um elemento para B: prometem
Digite um elemento para B: hienas
Digite um elemento para B: mito
Digite um elemento para B: naval
Digite um elemento para B: casal
Digite um elemento para B: tato
Digite um elemento para B: tatu
Digite um elemento para B: tio
Digite um elemento para B: pai
Interseção: set()
União: {'muitas', 'tato', 'vaiam', 'mario', 'naval', 'navio', 'medusa', 'hienas', 'bolas', 'prometem', 'fogo', 'mito', 'casal', 'agua]', 'tatu', 'morte', 'meus', 'tio', 'pai'}
A - B: {'muitas', 'fogo', 'agua]', 'mario', 'morte', 'meus', 'navio', 'medusa', 'bolas'}
B - A: {'tato', 'casal', 'vaiam', 'mito', 'tatu', 'tio', 'naval', 'pai', 'hienas', 'prometem'}

In [25]:
import string
frase = input("Digite uma frase: ").lower()
letras = {c for c in frase if c not in string.punctuation and c != " "}
print("Conjunto de letras:", letras)

Digite uma frase: eu peso 10 kgs
Conjunto de letras: {'g', '0', 'p', 'u', '1', 'o', 'k', 's', 'e'}

In [26]:
conjunto = {n for n in range(1,101) if n % 2 != 0 and n % 3 != 0}
print("Números que não são múltiplos de 2 nem 3:", conjunto)

Números que não são múltiplos de 2 nem 3: {1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97}

In [27]:
palavras = {p for p in [input("Digite uma palavra: ") for _ in range(10)] if len(p) > 5}
print("Palavras com mais de 5 letras:", palavras)

Digite uma palavra: medusa
Digite uma palavra: laos
Digite uma palavra: siri
Digite uma palavra: postagem
Digite uma palavra: Denis
Digite uma palavra: lontras
Digite uma palavra: brother
Digite uma palavra: whiter
Digite uma palavra: boliche
Digite uma palavra: porco
Palavras com mais de 5 letras: {'whiter', 'postagem', 'boliche', 'brother', 'medusa', 'lontras'}

In [28]:
A = {int(input("Digite um número para o conjunto A: ")) for _ in range(5)}
B = {int(input("Digite um número para o conjunto B: ")) for _ in range(5)}
print("A é subconjunto de B?", A.issubset(B))
print("B é subconjunto de A?", B.issubset(A))

Digite um número para o conjunto A: 12
Digite um número para o conjunto A: 87
Digite um número para o conjunto A: 09
Digite um número para o conjunto A: 2
Digite um número para o conjunto A: 3
Digite um número para o conjunto B: 4
Digite um número para o conjunto B: 5
Digite um número para o conjunto B: 6
Digite um número para o conjunto B: 75
Digite um número para o conjunto B: 35
A é subconjunto de B? False
B é subconjunto de A? False

In [29]:
conjunto = {int(input("Digite um número: ")) for _ in range(10)}
quadrados = {x for x in conjunto if int(x**0.5)**2 == x}
print("Quadrados perfeitos:", quadrados)

Digite um número: 12
Digite um número: 23
Digite um número: 34
Digite um número: 45
Digite um número: 56
Digite um número: 67
Digite um número: 78
Digite um número: 89
Digite um número: 67777
Digite um número: 677777777
Quadrados perfeitos: set()

In [31]:
func = {input("Nome do funcionário: "): float(input("Salário: R$ ")) for _ in range(5)}
for k in func:
    if func[k] < 2000:
        func[k] *= 1.10
print("Salários reajustados:", func)

Nome do funcionário: Marcos Vinicius
Salário: R$ 1
Nome do funcionário: Daniel
Salário: R$ 1000000000000000
Nome do funcionário: mauro
Salário: R$ 390
Nome do funcionário: nuno
Salário: R$ 12468
Nome do funcionário: ester
Salário: R$ 63234
Salários reajustados: {'Marcos Vinicius ': 1.1, 'Daniel': 1000000000000000.0, 'mauro': 429.00000000000006, 'nuno': 12468.0, 'ester': 63234.0}

In [36]:
alunos = {input("Nome do aluno: "): [float(input("Nota: ")) for _ in range(3)] for _ in range(5)}
for nome, notas in alunos.items():
    print(nome, "Média:", sum(notas)/3)2

Nome do aluno: daniel
Nota: 9
Nota: 8
Nota: 7
Nome do aluno: vitor
Nota: 3
Nota: 1
Nota: 1
Nome do aluno: marcos
Nota: 1
Nota: 5
Nota: 9
Nome do aluno: paulo
Nota: 9
Nota: 5
Nota: 1
Nome do aluno: nuno
Nota: 3
Nota: 5
Nota: 1
daniel Média: 8.0
vitor Média: 1.6666666666666667
marcos Média: 5.0
paulo Média: 5.0
nuno Média: 3.0

In [39]:
d = {input("Palavra: "): input("Sinônimos (separados por espaço): ").split() for _ in range(5)}
consulta = input("Digite uma palavra para consulta: ")
print("Sinônimos:", d.get(consulta, "Nenhum sinônimo encontrado"))

Palavra: fogo
Sinônimos (separados por espaço): fogare
Palavra: deus
Sinônimos (separados por espaço): deusa
Palavra: baixo
Sinônimos (separados por espaço): baixista
Palavra: moto
Sinônimos (separados por espaço): motoqueiro
Palavra: doutor
Sinônimos (separados por espaço): doutorado
Digite uma palavra para consulta: vaia
Sinônimos: Nenhum sinônimo encontrado

In [41]:
d = {}
for _ in range(10):
    palavra = input("Digite uma palavra: ")
    inicial = palavra[0].lower()
    d.setdefault(inicial, []).append(palavra)
print("Dicionário de palavras:", d)

Digite uma palavra: deusa
Digite uma palavra: medusa
Digite uma palavra: mario
Digite uma palavra: cart
Digite uma palavra: ventosa
Digite uma palavra: hotel
Digite uma palavra: mares
Digite uma palavra: maremoto
Digite uma palavra: terremoto
Digite uma palavra: terragem
Dicionário de palavras: {'d': ['deusa'], 'm': ['medusa', 'mario', 'mares', 'maremoto'], 'c': ['cart'], 'v': ['ventosa'], 'h': ['hotel'], 't': ['terremoto', 'terragem']}

In [42]:
produtos = {input("Nome do produto: "): [float(input("Preço: ")) for _ in range(3)] for _ in range(5)}
maior_var = max(produtos, key=lambda p: max(produtos[p]) - min(produtos[p]))
print("Produto com maior variação de preço:", maior_var)

Nome do produto: carne
Preço: 190
Preço: 54
Preço: 32
Nome do produto: Feijao
Preço: 09
Preço: 52
Preço: 23
Nome do produto: pao
Preço: 12
Preço: 44
Preço: 19
Nome do produto: aveia
Preço: 876
Preço: 999
Preço: 120
Nome do produto: macarrao
Preço: 7
Preço: 3
Preço: 18
Produto com maior variação de preço: aveia

In [43]:
import string
frase = input("Digite uma frase: ").lower()
for p in string.punctuation:
    frase = frase.replace(p, "")
palavras = frase.split()
ocorrencias = {p: palavras.count(p) for p in set(palavras)}
print("Ocorrências:", ocorrencias)

Digite uma frase: eu sou o melhor
Ocorrências: {'sou': 1, 'o': 1, 'eu': 1, 'melhor': 1}